@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/fonts/ProximaNova/Proxima-Nova-Regular.otf");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/fonts/ProximaNova/Proxima-Nova-Semibold.otf");
}
@font-face {
  font-family: "ProximaNova-Heavy";
  src: url("/fonts/ProximaNova/Proxima-Nova-Bold.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
     --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "ProximaNova-Regular";

}

.blur{
  background-image: url("/assets/images/blur.svg");
  height: 422px;
  width: 613px;
  background-position: bottom right;
  background-size: cover;
  position: absolute;
  bottom: -150px;
  right: 0;
}